<!DOCTYPE html>


<html style="font-family:Arial;">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Styles.css" />
    <title>Promotions </title>

</head>

<body >
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->

    <div class="container" style="text-align: center; padding-bottom: 5em;   background-color: lightblue; Color: white;">
        
        <div class="row" style="text-align:center">
            <div class="col col-md-5">
                <h2 style="text-align: center; color: white; font-size: 16px">BYONDHEALTH CARE</h2><br />
                <a href="~/Content/BeyondHealthCare.html" target="_blank"><img src="~/Images/BeyondHealthCare.png" width="220"></a>
            </div>
            <div class="col col-md-5">
                <h2 style="text-align:center;color:white;font-size:16px">KROKO</h2><br />
                <a href="https://www.kroko.co.za/" target="_blank"><img src="~/Images/Kroko2.png" width="220"></a>
            </div>


        </div>
        <div class="row">
            <div class="col-12 col-md-3 ">
                <h2 style="text-align: center; color: white; font-size: 16px">ASTELAIR</h2><br />
                <a href="https://www.accord-healthcare.co.za/" target="_blank"><img src="~/Images/Astelair.png" width="220"></a>
            </div>
            <div class="col-12 col-md-5 ">
                <h2 style="text-align: center; color: white; font-size: 16px">PHARMACY DYNAMICS </h2><br />
                <a href="https://www.mydynamics.co.za/" target="_blank"><img src="~/Images/PharmaDynamics.png" width="220"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-md-5 ">
                <h2 style="text-align: center; color: white; font-size: 16px">GEN-EYE-MYDEX </h2><br />
                <a href="https://gen-eye.co.za/" target="_blank"><img src="~/Images/MyDex.png" width="220"></a>
            </div>
            <div class="col-12 col-md-5 ">
                <h2 style="text-align: center; color: white; font-size: 16px">GEN-EYE-XINDEX </h2><br />
                <a href="https://gen-eye.co.za/" target="_blank"><img src="~/Images/XINdex.png" width="220"></a>
            </div>

        </div>
        <div class="row">
            <div class="col col-md-5 ">
                <h2 style="text-align: center; color: white; font-size: 16px">ACCORD HEALTHCARE</h2><br />
                <a href="https://www.accord-healthcare.co.za/" target="_blank"><img src="~/Images/AccordHealth.png" width="220"></a>
            </div>
        </div>
    </div>


    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</body>
</html>
