@{
    ViewBag.Title = "Mims";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/Content/Normalize.css">
    <link rel="stylesheet" href="/Content/Styles.css">
    <link rel="stylesheet" href="~/Content/navbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <style>

        * {
            box-sizing: border-box;
        }

        @@media (max-width: 480px) {
            #narrow {
                display: block
            }

            #wide {
                display: none;
            }
        }

        @@media (min-width: 480px) {

            #narrow {
                display: none;
            }

            #wide {
                display: block;
            }
        }

        .Welcome {
            background-color: lightcyan;
        }

            .Welcome img {
                max-width: 100%;
            }


        .picfix {
            width: 120px;
            height: 120px;
            padding-bottom: 0;
        }

        body {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    </style>

    <title>@ViewBag.Title</title>

</head>
<body>

    <div class="Welcome">
        <img id="wide" src="~/Images/WelcomeWide.jpg" />
        <img id="narrow" src="~/Images/WelcomeNarrow.gif" />
    </div>

    <div class="container" style="align-content:center;  ">

        <div class="row">

            <div class="col-12 col-md-3" style="text-align:center">

                <div class="p-3">
                    <a href="~/Promotion/GetProducts"><img src="~/Images/MDR.jpg" class="picfix"></a>
                </div>
            </div>

            <div class="col-12 col-md-3" style="text-align:center">

                <div class="p-3">
                    <a href="~/Promotion/GetProducts"><img src="~/Images/IVS.jpg" class="picfix"></a>
                </div>
            </div>
            <div class="col-12 col-md-3" style="text-align:center">

                <div class="p-3">
                    <a href="~/Promotion/GetProducts"><img src="~/Images/Generics Dictionary.jpg" class="picfix"></a>
                </div>
            </div>
            <div class="col-12 col-md-3" style="text-align:center">

                <div class="p-3">
                    <a href="~/Promotion/GetProducts"><img src="~/Images/OTC.jpg" class="picfix"></a>
                </div>
            </div>
            @*<div class="col-12 col-md-3" style="text-align:center">

                    <div class="p-3">
                        <a href="~/Promotion/GetProducts"><img src="~/Images/mdr 2022.jpg" class="picfix"></a>
                    </div>
                </div>*@



        </div>
    </div>



    <footer style="border: solid 1px black; color: #fff; background-color: dodgerblue;
            text-align:center;">
        <label style="justify-content:left;">

            <a href="https://sacoronavirus.co.za/" target="_blank" text-decoration:underline; style="color: #fff; background-color: dodgerblue">Online CoronaVirus News</a>
        </label>
        
        <br />
        <label style="text-align:center; font-size:0.9em">Copyright &copy; @DateTime.Now.Year  MIMS. All Rights Reserved.</label>


        <label><a href="~/Content/TermsConditions.html" target="_blank" style="font-size:0.9em; color: white;background-color:dodgerblue;">Terms and conditions</a></label>
    </footer>
</body>
</html>


